<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bleRequest">

	<resultMap id="bleRequest" type="wms.domain.BleRequestVo">
		<!-- BLE출결 -->
		<result property="bleRequestIdx" 		column="BLE_REQUEST_IDX" />				<!-- BLE출결 IDX -->
		<result property="uuid"					column="UUID" />						<!-- UUID -->
		<result property="requestDatetime" 		column="REQUEST_DATETIME" />			<!-- 출석 요청 일시 -->
		<result property="recognitionDatetime" 	column="RECOGNITION_DATETIME" />		<!-- 출석 인정 일시 -->
		<!-- 수업 스케줄 -->
		<result property="scheduleIdx" 			column="SCHEDULE_IDX" />				<!-- 스케줄 IDX -->
		<result property="week"					column="WEEK" />						<!-- 주차 -->
		<result property="scheduleDate" 		column="SCHEDULE_DATE" />				<!-- 스케줄 날짜 -->
		<!-- 시간 -->
		<result property="scheduletimeIdx" 		column="SCHEDULETIME_IDX" />			<!-- 시간 IDX -->
		<result property="classTime"			column="CLASS_TIME" />					<!-- 교시 -->
		<result property="startTime" 			column="START_TIME" />					<!-- 시작 시간 -->
		<result property="endTime" 				column="END_TIME" />					<!-- 종료 시간 -->
		<!-- 수강 학생 -->
		<result property="classroomStudentIdx" 	column="CLASSROOM_STUDENT_IDX" />		<!-- 수강 학생 IDX -->
		<result property="studentIdx"			column="STUDENT_IDX" />					<!-- 학생 IDX -->
		<result property="studentName" 			column="STUDENT_NAME" />				<!-- 학생 이름 -->
		<result property="studentId" 			column="STUDENT_ID" />					<!-- 학생 ID -->
		<result property="studentPhone" 		column="STUDENT_PHONE" />				<!-- 학생 전화번호 -->
		<result property="studentEmail" 		column="STUDENT_EMAIL" />				<!-- 학생 이메일 -->
		<!-- 교수별 교과목 -->
		<result property="classroomIdx" 		column="CLASSROOM_IDX" />				<!-- 교수별 교과목 IDX -->
		<result property="professorIdx"			column="PROFESSOR_IDX" />				<!-- 교수 IDX -->
		<result property="professorName"		column="PROFESSOR_NAME" />				<!-- 교수 이름 -->
		<result property="classroom"			column="CLASSROOM" />					<!-- 분반 -->
		<!-- 대학 -->
		<result property="collegeIdx" 			column="COLLEGE_IDX" />					<!-- 대학 IDX -->
		<result property="collegeName" 			column="COLLEGE_NAME" />				<!-- 대학 이름 -->
		<!-- 학과 -->
		<result property="departmentIdx" 		column="DEPARTMENT_IDX" />				<!-- 학과 IDX -->
		<result property="departmentName"	 	column="DEPARTMENT_NAME" />				<!-- 학과 이름 -->
		<!-- 년도/학기 -->
		<result property="yearSemesterIdx" 		column="YEAR_SEMESTER_IDX" />			<!-- 년도/학기 IDX -->
		<result property="year" 				column="YEAR" />						<!-- 년도 -->
		<result property="semester"	 			column="SEMESTER" />					<!-- 학기 -->
		<result property="startDateTime"	 	column="START_DATETIME" />				<!-- 시작 일시 -->
		<result property="endDateTime"		 	column="END_DATETIME" />				<!-- 종료 일시 -->
		<!-- 교과목 -->
		<result property="subjectIdx" 			column="SUBJECT_IDX" />					<!-- 교과목 IDX -->
		<result property="subjectName" 			column="SUBJECT_NAME" />				<!-- 교과목 이름 -->
		<!-- 등록, 수정, 삭제 -->
		<result property="useYN" 				column="USE_YN" />						<!-- 사용여부, Y:사용, N:사용안함 -->
		<result property="deleteYN" 			column="DELETE_YN" />					<!-- 삭제여부, Y:삭제, N:삭제안함 -->
		<result property="createUserIdx" 		column="CREATE_USER_IDX" />				<!-- 생생한 사용자 IDX -->
		<result property="updateUserIdx" 		column="UPDATE_USER_IDX" />				<!-- 수정한 사용자 IDX -->
		<result property="deleteUserIdx" 		column="DELETE_USER_IDX" />				<!-- 삭제한 사용자 IDX -->
		<result property="createUserName" 		column="CREATE_USER_NAME" />			<!-- 생생한 사용자 이름 -->
		<result property="updateUserName" 		column="UPDATE_USER_NAME" />			<!-- 수정한 사용자 이름 -->
		<result property="deleteUserName" 		column="DELETE_USER_NAME" />			<!-- 삭제한 사용자 이름 -->
		<result property="createDateTime"	 	column="CREATE_DATETIME" />				<!-- 생성한 일시 -->
		<result property="updateDateTime"	 	column="UPDATE_DATETIME" />				<!-- 수정한 일시 -->
		<result property="deleteDateTime"	 	column="DELETE_DATETIME" />				<!-- 삭제한 일시 -->
	</resultMap>

	<!-- 추가 -->
	<insert id="create">
		<![CDATA[
		INSERT INTO TB_BLEREQUEST (
			BLE_REQUEST_IDX
			, SCHEDULE_IDX
			, USER_ID
			, UUID
			, REQUEST_DATETIME
			, RECOGNITION_DATETIME
			, USE_YN, DELETE_YN, CREATE_USER_IDX, CREATE_DATETIME
		) VALUES (
			#{bleRequestIdx}
			, #{scheduleIdx}
			, #{userId}
			, #{uuid}
			, #{requestDatetime}
			, #{recognitionDatetime}
			, #{useYN}, #{deleteYN}, #{createUserIdx}, #{createDateTime}
		)
		]]>
	</insert>

	<!-- 보기 -->
	<select id="read" resultMap="bleRequest">
		<![CDATA[
		SELECT
			T_BLEREQUEST.BLE_REQUEST_IDX
			, T_BLEREQUEST.SCHEDULE_IDX
			, T_BLEREQUEST.USER_ID
			, T_BLEREQUEST.UUID
			, T_BLEREQUEST.REQUEST_DATETIME
			, T_BLEREQUEST.RECOGNITION_DATETIME
			, T_BLEREQUEST.USE_YN
			, T_BLEREQUEST.DELETE_YN
			, T_BLEREQUEST.CREATE_USER_IDX
			, T_BLEREQUEST.UPDATE_USER_IDX
			, T_BLEREQUEST.DELETE_USER_IDX
			, T_BLEREQUEST.UPDATE_DATETIME
			, T_BLEREQUEST.CREATE_DATETIME
			, T_BLEREQUEST.DELETE_DATETIME
			, T_USER_CREATE.USER_NAME AS CREATE_USER_NAME
			, T_USER_UPDATE.USER_NAME AS UPDATE_USER_NAME
			, T_USER_DELETE.USER_NAME AS DELETE_USER_NAME
		FROM TB_BLEREQUEST AS T_BLEREQUEST
		LEFT JOIN TB_USER AS T_USER_CREATE ON T_USER_CREATE.USER_IDX = T_BLEREQUEST.CREATE_USER_IDX
		LEFT JOIN TB_USER AS T_USER_UPDATE ON T_USER_UPDATE.USER_IDX = T_BLEREQUEST.UPDATE_USER_IDX
		LEFT JOIN TB_USER AS T_USER_DELETE ON T_USER_DELETE.USER_IDX = T_BLEREQUEST.DELETE_USER_IDX
		WHERE T_BLEREQUEST.BLE_REQUEST_IDX = #{bleRequestIdx}
		LIMIT 1
		]]>
	</select>

	<!-- 수정 -->
	<select id="update">
		<![CDATA[
		UPDATE TB_BLEREQUEST SET BLE_REQUEST_IDX = #{bleRequestIdx}
		]]>
		<if test=" scheduleIdx != null">
			, SCHEDULE_IDX = #{scheduleIdx}
		</if>
		<if test=" userId != null">
			, USER_ID = #{userId}
		</if>
		<if test=" uuid != null">
			, UUID = #{uuid}
		</if>
		<if test=" requestDatetime != null">
			, REQUEST_DATETIME = #{requestDatetime}
		</if>
		<if test=" recognitionDatetime != null">
			, RECOGNITION_DATETIME = #{recognitionDatetime}
		</if>
		<if test="useYN != null">
			, USE_YN = #{useYN}
		</if>
		<if test="updateUserIdx != null">
			, UPDATE_USER_IDX = #{updateUserIdx}, UPDATE_DATETIME = #{updateDateTime}
		</if>
		<choose>
			<when test="deleteYN != null and deleteYN == 'Y'.toString()">
				, DELETE_YN = #{deleteYN}, DELETE_USER_IDX = #{deleteUserIdx}, DELETE_DATETIME = #{deleteDateTime}
			</when>
			<when test="deleteYN != null and deleteYN == 'N'.toString()">
				, DELETE_YN = #{deleteYN}, DELETE_USER_IDX = "", DELETE_DATETIME = ""
			</when>
		</choose>
		WHERE BLE_REQUEST_IDX = #{bleRequestIdx}
	</select>

	<!-- 목록 -->
	<select id="all" resultMap="bleRequest">
		<![CDATA[
		SELECT
			T_BLEREQUEST.BLE_REQUEST_IDX
			, T_BLEREQUEST.SCHEDULE_IDX
			, T_BLEREQUEST.USER_ID
			, T_BLEREQUEST.UUID
			, T_BLEREQUEST.REQUEST_DATETIME
			, T_BLEREQUEST.RECOGNITION_DATETIME
			, T_BLEREQUEST.USE_YN
			, T_BLEREQUEST.DELETE_YN
			, T_BLEREQUEST.CREATE_USER_IDX
			, T_BLEREQUEST.UPDATE_USER_IDX
			, T_BLEREQUEST.DELETE_USER_IDX
			, T_BLEREQUEST.UPDATE_DATETIME
			, T_BLEREQUEST.CREATE_DATETIME
			, T_BLEREQUEST.DELETE_DATETIME
			, T_USER_CREATE.USER_NAME AS CREATE_USER_NAME
			, T_USER_UPDATE.USER_NAME AS UPDATE_USER_NAME
			, T_USER_DELETE.USER_NAME AS DELETE_USER_NAME
			, T_YEAR_SEMESTER.YEAR
			, T_YEAR_SEMESTER.SEMESTER
			, T_COLLEGE.COLLEGE_NAME
			, T_DEPARTMENT.DEPARTMENT_NAME
			, T_SUBJECT.SUBJECT_NAME
			, T_PROFESSOR.USER_NAME AS PROFESSOR_NAME
		FROM TB_BLEREQUEST AS T_BLEREQUEST
		LEFT JOIN TB_SCHEDULE AS T_SCHEDULE ON T_SCHEDULE.SCHEDULE_IDX = T_BLEREQUEST.SCHEDULE_IDX
		LEFT JOIN TB_CLASSROOM AS T_CLASSROOM ON T_CLASSROOM.CLASSROOM_IDX = T_SCHEDULE.CLASSROOM_IDX
		LEFT JOIN TB_YEAR_SEMESTER AS T_YEAR_SEMESTER ON T_YEAR_SEMESTER.YEAR_SEMESTER_IDX = T_CLASSROOM.YEAR_SEMESTER_IDX
		LEFT JOIN TB_COLLEGE AS T_COLLEGE ON T_COLLEGE.COLLEGE_IDX = T_CLASSROOM.COLLEGE_IDX
		LEFT JOIN TB_DEPARTMENT AS T_DEPARTMENT ON T_DEPARTMENT.DEPARTMENT_IDX = T_CLASSROOM.DEPARTMENT_IDX
		LEFT JOIN TB_SUBJECT AS T_SUBJECT ON T_SUBJECT.SUBJECT_IDX = T_CLASSROOM.SUBJECT_IDX
		LEFT JOIN TB_USER AS T_PROFESSOR ON T_PROFESSOR.USER_IDX = T_CLASSROOM.PROFESSOR_IDX
		LEFT JOIN TB_USER AS T_USER_CREATE ON T_USER_CREATE.USER_IDX = T_BLEREQUEST.CREATE_USER_IDX
		LEFT JOIN TB_USER AS T_USER_UPDATE ON T_USER_UPDATE.USER_IDX = T_BLEREQUEST.UPDATE_USER_IDX
		LEFT JOIN TB_USER AS T_USER_DELETE ON T_USER_DELETE.USER_IDX = T_BLEREQUEST.DELETE_USER_IDX
		WHERE 1=1
		]]>
		<if test="useYN != null">
			AND T_BLEREQUEST.USE_YN = #{useYN}
		</if>
		<if test="deleteYN != null">
			AND T_BLEREQUEST.DELETE_YN = #{deleteYN}
		</if>
		ORDER BY T_BLEREQUEST.BLE_REQUEST_IDX DESC
	</select>

</mapper>
